# Title 1

## Parti 1.1 XXX

### Importing modules

In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("https://data-wizards.s3.amazonaws.com/datasets/jamesbond.csv")

In [10]:
df.groupby("Actor")["Bond Actor Salary"].nlargest(2)

Actor
Daniel Craig    24    14.5
                23     8.1
George Lazenby  6      0.6
Pierce Brosnan  21    17.9
                20    13.5
Roger Moore     15     9.1
                14     7.8
Sean Connery    7      5.8
                3      4.7
Timothy Dalton  17     7.9
                16     5.2
Name: Bond Actor Salary, dtype: float64

In [30]:
cond = df['Actor'].isin(['Sean Connery','Roger Moore','Pierce Brosnan'])
pd.crosstab(df[cond]['Actor'],df[cond]['Director'])

Director,Guy Hamilton,Irvin Kershner,John Glen,Lee Tamahori,Lewis Gilbert,Martin Campbell,Michael Apted,Roger Spottiswoode,Terence Young
Actor,,,,,,,,,
Pierce Brosnan,0,0,0,1,0,1,1,1,0
Roger Moore,2,0,3,0,2,0,0,0,0
Sean Connery,2,1,0,0,1,0,0,0,3

### Part 1.2

In [107]:
pd.read_csv(
    "https://data-wizards.s3.amazonaws.com/datasets/jamesbond.csv",
    dtype={
        'Year':np.float64
    }

)

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962.0,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963.0,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964.0,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965.0,Sean Connery,Terence Young,848.1,41.9,4.7
4,Casino Royale,1967.0,David Niven,Ken Hughes,315.0,85.0,NaN
5,You Only Live Twice,1967.0,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
6,On Her Majesty's Secret Service,1969.0,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
7,Diamonds Are Forever,1971.0,Sean Connery,Guy Hamilton,442.5,34.7,5.8
8,Live and Let Die,1973.0,Roger Moore,Guy Hamilton,460.3,30.8,NaN
9,The Man with the Golden Gun,1974.0,Roger Moore,Guy Hamilton,334.0,27.7,NaN
10,The Spy Who Loved Me,1977.0,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
11,Moonraker,1979.0,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
12,For Your Eyes Only,1981.0,Roger Moore,John Glen,449.4,60.2,NaN
13,Never Say Never Again,1983.0,Sean Connery,Irvin Kershner,380.0,86.0,NaN
14,Octopussy,1983.0,Roger Moore,John Glen,373.8,53.9,7.8
15,A View to a Kill,1985.0,Roger Moore,John Glen,275.2,54.5,9.1
16,The Living Daylights,1987.0,Timothy Dalton,John Glen,313.5,68.8,5.2
17,Licence to Kill,1989.0,Timothy Dalton,John Glen,250.9,56.7,7.9
18,GoldenEye,1995.0,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
19,Tomorrow Never Dies,1997.0,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
20,The World Is Not Enough,1999.0,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
21,Die Another Day,2002.0,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
22,Casino Royale,2006.0,Daniel Craig,Martin Campbell,581.5,145.3,3.3
23,Quantum of Solace,2008.0,Daniel Craig,Marc Forster,514.2,181.4,8.1
24,Skyfall,2012.0,Daniel Craig,Sam Mendes,943.5,170.2,14.5
25,Spectre,2015.0,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [34]:
df

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
5,You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
6,On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
7,Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
8,Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
9,The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
10,The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
11,Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
12,For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
13,Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
14,Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
15,A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
16,The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
17,Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
18,GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
19,Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
20,The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
21,Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
22,Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
23,Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
24,Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
25,Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [88]:
df.max()

Film                 You Only Live Twice
Year                                2015
Actor                     Timothy Dalton
Director                   Terence Young
Box Office                         943.5
Budget                             206.3
Bond Actor Salary                   17.9
dtype: object

In [89]:
df.max(axis='index')

Film                 You Only Live Twice
Year                                2015
Actor                     Timothy Dalton
Director                   Terence Young
Box Office                         943.5
Budget                             206.3
Bond Actor Salary                   17.9
dtype: object

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,Dr. NoFrom Russia with Love,3925,Sean ConnerySean Connery,Terence YoungTerence Young,992.6,19.6,2.2
2,Dr. NoFrom Russia with LoveGoldfinger,5889,Sean ConnerySean ConnerySean Connery,Terence YoungTerence YoungGuy Hamilton,1813.0,38.2,5.4
3,Dr. NoFrom Russia with LoveGoldfingerThunderball,7854,Sean ConnerySean ConnerySean ConnerySean Connery,Terence YoungTerence YoungGuy HamiltonTerence ...,2661.1,80.1,10.1
4,Dr. NoFrom Russia with LoveGoldfingerThunderba...,9821,Sean ConnerySean ConnerySean ConnerySean Conne...,Terence YoungTerence YoungGuy HamiltonTerence ...,2976.1,165.1,NaN
5,Dr. NoFrom Russia with LoveGoldfingerThunderba...,11788,Sean ConnerySean ConnerySean ConnerySean Conne...,Terence YoungTerence YoungGuy HamiltonTerence ...,3490.3,225.0,14.5
6,Dr. NoFrom Russia with LoveGoldfingerThunderba...,13757,Sean ConnerySean ConnerySean ConnerySean Conne...,Terence YoungTerence YoungGuy HamiltonTerence ...,3781.8,262.3,15.1
7,Dr. NoFrom Russia with LoveGoldfingerThunderba...,15728,Sean ConnerySean ConnerySean ConnerySean Conne...,Terence YoungTerence YoungGuy HamiltonTerence ...,4224.3,297.0,20.9
8,Dr. NoFrom Russia with LoveGoldfingerThunderba...,17701,Sean ConnerySean ConnerySean ConnerySean Conne...,Terence YoungTerence YoungGuy HamiltonTerence ...,4684.6,327.8,NaN
9,Dr. NoFrom Russia with LoveGoldfingerThunderba...,19675,Sean ConnerySean ConnerySean ConnerySean Conne...,Terence YoungTerence YoungGuy HamiltonTerence ...,5018.6,355.5,NaN
10,Dr. NoFrom Russia with LoveGoldfingerThunderba...,21652,Sean ConnerySean ConnerySean ConnerySean Conne...,Terence YoungTerence YoungGuy HamiltonTerence ...,5551.6,400.6,NaN
11,Dr. NoFrom Russia with LoveGoldfingerThunderba...,23631,Sean ConnerySean ConnerySean ConnerySean Conne...,Terence YoungTerence YoungGuy HamiltonTerence ...,6086.6,492.1,NaN
12,Dr. NoFrom Russia with LoveGoldfingerThunderba...,25612,Sean ConnerySean ConnerySean ConnerySean Conne...,Terence YoungTerence YoungGuy HamiltonTerence ...,6536.0,552.3,NaN
13,Dr. NoFrom Russia with LoveGoldfingerThunderba...,27595,Sean ConnerySean ConnerySean ConnerySean Conne...,Terence YoungTerence YoungGuy HamiltonTerence ...,6916.0,638.3,NaN
14,Dr. NoFrom Russia with LoveGoldfingerThunderba...,29578,Sean ConnerySean ConnerySean ConnerySean Conne...,Terence YoungTerence YoungGuy HamiltonTerence ...,7289.8,692.2,28.7
15,Dr. NoFrom Russia with LoveGoldfingerThunderba...,31563,Sean ConnerySean ConnerySean ConnerySean Conne...,Terence YoungTerence YoungGuy HamiltonTerence ...,7565.0,746.7,37.8
16,Dr. NoFrom Russia with LoveGoldfingerThunderba...,33550,Sean ConnerySean ConnerySean ConnerySean Conne...,Terence YoungTerence YoungGuy HamiltonTerence ...,7878.5,815.5,43.0
17,Dr. NoFrom Russia with LoveGoldfingerThunderba...,35539,Sean ConnerySean ConnerySean ConnerySean Conne...,Terence YoungTerence YoungGuy HamiltonTerence ...,8129.4,872.2,50.9
18,Dr. NoFrom Russia with LoveGoldfingerThunderba...,37534,Sean ConnerySean ConnerySean ConnerySean Conne...,Terence YoungTerence YoungGuy HamiltonTerence ...,8647.9,949.1,56.0
19,Dr. NoFrom Russia with LoveGoldfingerThunderba...,39531,Sean ConnerySean ConnerySean ConnerySean Conne...,Terence YoungTerence YoungGuy HamiltonTerence ...,9111.1,1083.0,66.0
20,Dr. NoFrom Russia with LoveGoldfingerThunderba...,41530,Sean ConnerySean ConnerySean ConnerySean Conne...,Terence YoungTerence YoungGuy HamiltonTerence ...,9550.6,1241.3,79.5
21,Dr. NoFrom Russia with LoveGoldfingerThunderba...,43532,Sean ConnerySean ConnerySean ConnerySean Conne...,Terence YoungTerence YoungGuy HamiltonTerence ...,10016.0,1395.5,97.4
22,Dr. NoFrom Russia with LoveGoldfingerThunderba...,45538,Sean ConnerySean ConnerySean ConnerySean Conne...,Terence YoungTerence YoungGuy HamiltonTerence ...,10597.5,1540.8,100.7
23,Dr. NoFrom Russia with LoveGoldfingerThunderba...,47546,Sean ConnerySean ConnerySean ConnerySean Conne...,Terence YoungTerence YoungGuy HamiltonTerence ...,11111.7,1722.2,108.8
24,Dr. NoFrom Russia with LoveGoldfingerThunderba...,49558,Sean ConnerySean ConnerySean ConnerySean Conne...,Terence YoungTerence YoungGuy HamiltonTerence ...,12055.2,1892.4,123.3
25,Dr. NoFrom Russia with LoveGoldfingerThunderba...,51573,Sean ConnerySean ConnerySean ConnerySean Conne...,Terence YoungTerence YoungGuy HamiltonTerence ...,12781.9,2098.7,NaN

In [95]:
import pandas as pd

In [94]:
name = ['Freddie','John','Brian','Roger']
surname = ['Mercury','Deacon','May','Taylor'] 
birth = [1946,1951,1947,1949]

In [96]:
queen = {"name":name, "surname":surname, "birth":birth}

In [99]:
df = pd.DataFrame(queen)

In [102]:
df.seek("name")

AttributeError: 'DataFrame' object has no attribute 'seek'